@using WyzeSenseCore
@using AntDesign;

@inherits FeedbackComponent<DatabaseProvider.Models.WyzeSensorModel, DatabaseProvider.Models.WyzeSensorModel>

<Form Model="@sensor">
    <FormItem Label="MAC">
        @context.MAC
    </FormItem>
</Form>

@code {
    
    DatabaseProvider.Models.WyzeSensorModel sensor { get; set; }
        protected override void OnInitialized()
        {
            sensor = base.Options;
            base.OnInitialized();
        }
}
