@page "/MQTTTemplates"

@using WyzeSenseBlazor.DataServices
@using WyzeSenseCore
@using AntDesign
@inject IMQTTTemplateService templateService;

<h3>Templates</h3>

<Table TItem="DataStorage.Models.Template" DataSource="@templates" PageSize="@pageSize">
    <RowTemplate>
        <Column @bind-Field="@context.Name" />
        <Column Title="Sensor Type" TData=string>
            @context.SensorType
        </Column>
    </RowTemplate>
</Table>

<style>
    .editable-cell {
        position: relative;
    }

    .editable-cell-value-wrap {
        padding: 5px 12px;
        cursor: pointer;
    }

    .editable-row:hover .editable-cell-value-wrap {
        padding: 4px 11px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }

    [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #434343;
    }
</style>
@code {
    int editSensorModelId;
    int editStateModelId;
    string newProperty;
    string newPropName;

    List<DataStorage.Models.Template> templates;
    internal class Item
    {
        public string name { get; set; }
        public string value { get; set; }
    }
    List<Item> _properties = new List<Item>()
    {
        new Item { name = "Battery", value = "Battery"},
        new Item { name = "Signal", value = "Signal"},
        new Item { name = "State", value = "State"},
        new Item { name = "Time", value = "Time"}

    };

    public int pageSize { get; set; } = 10;

    protected override async Task OnInitializedAsync()
    {
        templates = new();
        templates.AddRange(await templateService.GetTemplatesAsync());

    }


}
